<footer class="main-footer">
  <div class="footer-license-wrapper">
    <a class="license" href="https://github.com/MattGreyDesign/mattgreydesign.github.io/blob/master/LICENSE" title="View the license for this site and it's content"><small>All content is copyright &copy; {{ site.time | date: '%Y' }} Evan Brothers, any trademarks are property of their respective owners.</small></a>
  </div>
  <div class="made-by-wrapper">
    <a class="made-by" href="//github.com/ekbrothers/evanbrothersnet">View the Source Code</a>
  </div>
</footer>
